
[submodule "SimTally"]
	path = SimTally
	url = git@github.com:thanawatkate/SimTally-By-KTdev.git

[submodule "registry-backend"]
	path = registry-backend
	url = git@github.com:thanawatkate/ktdev-registry.git
